nuxeo-survey-core/src/main/resources/schemas/survey.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/survey/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/survey/">

  <xs:simpleType name="stringArrayType">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="answers" type="nxs:stringArrayType" />
  <xs:element name="begin_date" type="xs:date" />

</xs:schema>
