nuxeo-poll-core/src/main/resources/schemas/poll.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/poll/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/poll/">

  <xs:simpleType name="stringArrayType">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="answers" type="nxs:stringArrayType" />
  <xs:element name="start_date" type="xs:date" />

</xs:schema>
